:root{
    --primery-text-color:#212121;
    --secondary-text-color:#757575;
    --white-text:#ffffff;
    --blu-color:#2196f3;
    --black-color:#000000;
    --buttom-filtre-color: #f5f4fa;
    --buttom-color-focus:#188ce8;
    --contacts-footer-color:rgba(255, 255, 255, 0.6);
    --primery-fons-color:#ffffff;
    --secondary-fons-color:#2f303a;
    --border-color:#ececec;

    --font-family: 'Raleway';
    --font-family: 'Roboto';

    --card-set-gap: 30px;

}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    background-color: var(--primery-fons-color);
}
a{  text-decoration: none;
    font-style: normal;
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
li{
    padding:0;
    margin:0;
    list-style: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
h1,h2,h3,p,ul{
    padding:0;
    margin:0;
}
.page-header{
    margin-left: auto;
    margin-right: auto;
    background-color: var(--primery-fons-color);
    border-bottom: 1px solid var(--border-color);
}



.container{
    width: 100%;
    align-items: center;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
.page-header-container{
    display: flex;
    
}
    
     /*nav*/

.main-nav{
    display: flex;
    width: 100%;
    
}
.sait-nav{
    display: flex; 
    margin-left: 93px;
}
.sait-nav .item:not(:last-child){
     padding-right:50px;}
.sait-nav .link{
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.heder-contacts{display: flex;
    justify-content: flex-end;
}
.heder-contacts .item +.item{
    margin-left: 50px;
}

.logo{ font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color:var(--blu-color)
}
.studio{
    color:var(--black-color);}
.contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);
}
.link:hover, .link:focus, .contacts:hover, .contacts:focus{
    color:var(--blu-color)
}
    /*main*/
.herou{
    text-align: center;
    padding-top:200px ;
    padding-bottom:200px ;
    background-color: var(--secondary-fons-color);
}
.title{
    margin-bottom: var(--card-set-gap);
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--white-text);
}
.hero-section-title{
    width: 696px;
    margin: 0 auto 100px;
    margin-bottom: 30px;
}
   /*Buttons*/
.button{
    border: 1px solid transparent;
    font-family: inherit;
    font-size: 16px;
    cursor:pointer;
    border-radius: 4px;
    text-align:center;
}
.order{
    min-width:200px;
    padding: 10px 32px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor:pointer;
    background-color: var(--blu-color);
    color:var(--white-text);
}
.filter {
    padding: 6px 22px;
    min-width:100%;
    border: transparent;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    background-color:var(--buttom-filtre-color);
}
.filter:hover, .filter:focus{
    
    background-color: var(--blu-color);
       color:var(--white-text);
 }
.ordern:hover, .order:focus{
     background-color:var(--buttom-color-focus);
}

.list-flex{
    display:flex;
    margin-bottom: 50px;
    justify-content: center;
}
.list-flex .list-bat+.list-bat{
    margin-left:8px;  
}



   /*Advantages*/
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section{
    padding-top: 94px;
    padding-bottom: 94px;
}
.no-padding{
    padding-top: 0;
}
.advantages{
    display: flex;
    flex-direction:row;
    margin-left: -30px;
} 

.advantages >.item{
    flex-basis:  calc(100% / 4 - var(--card-set-gap));
    margin-left: 30px;
}
    .section-title{    
        padding: 0;
        margin: 0;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color:var(--primery-text-color);
    }
    .title-text{
        padding: 0;
        margin: 0;
        line-height: 1.71;
        color: var(--secondary-text-color);
        
    }
    /*picture*/   
.picture{
    display: flex;
    flex-direction: row;
    margin-left: -30px;
    justify-content: space-between;
}
.picture>.picture-page{
     flex-basis:  calc(100% / 3 - var(--card-set-gap));
     margin-left: 30px;
    }
.picture>.picture-page+.picture-page{
    margin-left: var(--card-set-gap);
}

      /*tem*/
.team-lis{
    display: flex;
    flex-wrap: wrap;
    margin-left:-30px;
}
.team-lis>.item{
    background-color: var(--primery-fons-color);
    margin-left: 30px;
    flex-basis : calc(100% / 4 - var(--card-set-gap));
    border-left: 1px solid var(--border-color) ;
    border-bottom: 1px solid var(--border-color) ;
    border-right: 1px solid var(--border-color) ; 
    }
    
.team-lis>.item+.item{
    margin-left: var(--card-set-gap);
}

.card-content-team{
    text-align: center; 
    padding-top: 30px;
    padding-bottom: 30px; 
}
.item-text{
    margin-bottom: 10px;
}

.team-lis>.team+.team{
    margin-left: var(--card-set-gap);}
.team{
    color:var(--secondary-text-color);
    background-color:var(--buttom-filtre-color);
    
}
.text{
    margin-bottom:50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color:var(--primery-text-color);
}
.text-list{
    font-weight: 500;
    font-size: 16px;
    line-height:1.18;
    color:var(--primery-text-color);
    }
.text-post{
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text-color);
}



     /*portfolio variations*/
.portfolio-cection{
    padding-top: 83px;
    padding-bottom: 99px;
}

.card-set{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}
.card-set>.item{
    flex-basis:  calc(100% / 3 - 30px);
    margin-left: 30px
}

.card-set>.item:nth-child(-n + 6){
margin-bottom: 30px;
}
   
.card-content{  
    padding: 20px 24px;
    border-left: 1px solid var(--border-color) ;
    border-bottom: 1px solid var(--border-color) ;
    border-right: 1px solid var(--border-color) ;  
}
.card-heding{
    margin-bottom: 4px;
}



.item-list{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--primery-text-color);
}   
.item-post{font-size: 16px;
    font-weight: 400;
    line-height:1.87;
    color: var(--secondary-text-color);
} 



       /*Footer*/
.footer{
    background-color: var(--secondary-fons-color);
    padding-bottom: 60px;
    padding-top: 60px;
}
.logolip{
    margin-bottom: 20px;
}
.studio-doun{color:var(--white-text)
}
.contacts-doun{
    font-style:normal;
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: 0.03em;
    color:var(--contacts-footer-color) ;
}
.address{ font-style:normal;
    font-weight: 400;
    letter-spacing: 0.03em;
    color:var(--white-text);
}
.contacts-doun:hover,.contacts-doun:focus{
    color: var(--blu-color);
}

.footer-nav >.item:not(:last-child){
    margin-bottom: 9px;
}
